@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barlow:wght@700&family=Croissant+One&family=Dancing+Script:wght@500;600;700&family=Fuggles&family=Kaisei+HarunoUmi:wght@700&family=Kalnia:wght@200;300;400&family=Kaushan+Script&family=Lobster&family=Maven+Pro:wght@500&family=Montserrat:wght@100&family=Mooli&family=Mulish:wght@300;600;700&family=Playfair+Display&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400;1,500&family=Shadows+Into+Light&family=Zeyada&display=swap');
*{
    margin:0px;
    padding:0px;
    font-family: 'Kalnia', serif;
}